<div class="wrapper">
    <div class="article-duliye-223_page page">
        <!-- license -->
        <div class="rel license">
	        <img src="assets/images/license.jpg" />
	    </div>
        <!-- back -->
        <div class="back">返回</div>
    </div>
</div>