<div class="wrapper">
    <div class="home_page page">
        <!-- bg -->
        <img class="rel bg" src="assets/images/home/bg.jpg" />
        <!-- form -->
        <div class="form-box">
            <!-- logo -->
            <div class="logo">
                <img src="assets/images/logo.png" width="100%" />
            </div>
            <form class="rel form-list">
                <!-- 姓名 -->
                <div class="rel input-box userName">
                    <input id="userNameVal" class="centerh userNameVal" maxlength="10" type="text" placeholder="">
                </div>
                <!-- 号码 -->
                <div class="rel input-box userPhone">
                    <input id="userPhoneVal" class="centerh userPhoneVal" maxlength="11" type="tel" placeholder="">
                </div>

                <!-- 验证码 -->
                <div class="rel input-box userCode">
                    <i class="send"></i>
                    <div class="seconds"></div>
                    <input id="userCodeVal" class="centerh userCodeVal" maxlength="6" type="text" placeholder="">
                </div>
                <!-- 预约城市 -->
                <div class="rel input-box userCity">
                    <select id="userCityVal" class="centerh userCityVal">
                        <option id="defaultCity" value>请选择城市</option>
                        <option id="defaultCity" value="0" data-city="nanjing">1</option>
                    </select>
                </div>
                <!-- 预约时间 -->
                <div class="rel input-box userTime">
                    <select id="userTimeVal" class="centerh userTimeVal">
                        <option id="defaultTime" value>请选择日期</option>
                    </select>
                </div>
            </form>
            <!-- checkbox -->
            <div class="rel agreement" data-check="false">
                <img class="text" src="assets/images/home/nocheck.png" />
                <a class="checkbox"></a>
                <a class="rules"></a>
            </div>
            <!-- submit -->
            <img class="btn-submit" src="assets/images/home/btn-submit.png" />
            <!-- license -->
            <div class="rel license">
                <img src="assets/images/home/license.png" />
                <a class="license1"></a>
                <a class="license2" href="http://www.miitbeian.gov.cn/" target="_blank"></a>
                <a class="license3" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=31011502007430" target="_blank"></a>
            </div>
        </div>
        <!-- rules -->
        <div class="modal">
            <div class="close">
                <img class="btn-close" src="assets/images/home/close.png" />
            </div>
            <div class="content">
                <div class="title">&nbsp;【隐私政策】</div>
                <p class="divider">本政策仅适用于资生堂（中国）投资有限公司的产品或服务。</p>
                <p>最近更新日期：2019年 3月21日。</p>
                <p class="divider">引言</p>
                <p>我们非常重视您的隐私和个人信息保护。若您想了解您的个人信息利用方式，请仔细阅读《隐私政策》（下称“本政策”）。</p>
                <p>本政策适用于我们所收集的个人信息 ，包括我们通过官方网站、在线商城、线下柜台、微信公众号、微信小程序等途径收集的个人信息。</p>
                <p>您选择使用我们的服务，即表示您已充分理解本政策的全部内容，并同意本政策以及本政策的更新，并同意我们根据本政策收集、使用、储存和共享您的个人信息。若您不同意本政策或其任何一部分，请停止使用我们的服务。</p>
                <p>本政策将帮助您了解以下内容：</p>
                <p>1. 我们如何收集和使用您的个人信息</p>
                <p>2. 我们如何使用 Cookie 和同类技术</p>
                <p>3. 我们如何共享、转让、公开披露您的个人信息</p>
                <p>4. 我们如何保护您的个人信息</p>
                <p>5. 您的权利</p>
                <p>6. 我们如何处理未成年人的个人信息</p>
                <p>7. 您的个人信息如何存储及在全球范围转移</p>
                <p>8. 本政策如何更新</p>
                <p>9. 如何联系我们</p>
                <p class="divider">一、 我们如何收集和使用您的个人信息</p>
                <p>（一）为您提供购物服务</p>
                <p>1. 注册成为用户</p>
                <p>当您注册用户时，为完成创建账号，您可能需要提供以下信息：您的用户名、年龄/出生日期、电话号码、电子邮箱地址、创建的用户名和密码等。如果您仅使用浏览、搜索等基本服务，您不需要注册成为我们的会员及提供上述信息。</p>
                <p>在注册过程中，如果您提供以下额外信息，将有助于我们给您提供更好的服务和体验：通讯地址、性别等。但如果您不提供这些信息，将不会影响使用本服务的基本功能。</p>
                <p>2. 与客服人员沟通交流</p>
                <p>当您与客服人员交流时，为便于您与我们客服的沟通，您可能需要提供以下信息：手机号码、电子邮箱地址、姓名、性别、年龄/出生日期、电话号码、收货地址。为了处理您的请求，我们可能会保存您的通信/通话记录和内容或您留下的联系方式等信息，以便与您联系或帮助您解决问题。</p>
                <p>在与我们客服人员沟通交流的过程中，如果您提供以下额外信息，将有助于我们给您提供更好的服务和体验：购买历史、消费评价、特殊要求以及您乐意分享的照片、音频或视频。但如果您不提供这些信息，将不会影响使用本服务的基本功能。</p>
                <p>3. 向您提供商品或服务</p>
                <p>为便于向您交付商品或服务，您需要提供收货人姓名、收货地址、收货人联系电话。如果我们委托第三方向您交付时，我们会在征得您同意后将上述信息共享给第三方。如果您拒绝提供此类信息，我们将无法完成相关交付服务。</p>
                <p>您可以通过我们的网站为其他人订购商品或服务，您需要提供该实际订购人的前述个人信息。向我们的网站提供该实际订购人的前述个人信息之前，您需确保您已经取得其授权同意。</p>
                <p>当您选择通过微信小程序或微信公众号提供会员服务，您需提供手机号码或微信号、电子会员卡。</p>
                <p>4. 为您查找附近的门店</p>
                <p>当您通过我们的网站、微信公众号或微信小程序查询我们的门店信息时，我们会收集并处理与您的实际位置相关的信息，如移动设备发送的GPS信号。我们也会使用各类技术来进行定位，例如您的设备发散的感应数据可提供比如您附近Wi-Fi接入点、近场通信（NFC）和蜂窝塔等相关信息。</p>
                <p>5. 支付结算</p>
                <p>在交易过程中，我们将使用您的以下信息：您的姓名、电话号码、收货地址和付款详情，以处理和履行您的订单，并告知您订单的状态。我们也可能使用您的以上信息，以评估您的信用度。</p>
                <p>在交易完成后，您可能需要提供您的付款详情（银联、支付宝、微信等第三方支付机构），以便我们能追踪您的订单，为您提供及时、优质的售后服务。您的支付数据将由付款服务供应商直接收集和处理，我们不会收集您在第三方支付机构中的个人信息。</p>
                <p>（二）开展数据分析和研究，改善我们的产品或服务</p>
                <p>为了开展数据分析和研究并改善我们向您提供的服务，当您与我们的网站、微信公众号或微信小程序互动时，我们可能收集相关信息，以及您是如何使用该等网站、微信公众号和微信小程序的。</p>
                <p>1. 网站</p>
                <p>我们可能收集您浏览的各网页的相关信息，以及您是如何使用各网站的。每次您浏览我们的网站，数据会从您的浏览器发送到我们的服务器。此类信息有助优化我们的服务，提升您在我们的网站、微信公众号和微信小程序的个性化体验。此类信息具体包括：</p>
                <p>• 您的IP地址；</p>
                <p>• 浏览日期和时间；</p>
                <p>• 转引URL（即访客是从哪个网址转至我们网站的）；</p>
                <p>• 在我们的网站浏览的网页以及进行的相关操作；</p>
                <p>• 设备和浏览器相关信息（浏览器类型和版本、操作系统等）。</p>
                <p>2. 商品展示、个性化推荐、发送促销营销信息</p>
                <p>为改善我们的产品或服务、向您提供个性化的信息搜索及交易服务，我们会根据您的设备信息、位置信息、订单信息，提取您的浏览、搜索偏好、位置信息等特征，基于特征标签进行间接人群画像并展示、推送信息。</p>
                <p>为便于向您推荐更适合的护肤产品，我们可能会通过肌肤测试收集您的肌肤信息，包括但不限于保湿、弹性、斑点、皱纹的情况。如果您不想接受我们给您发送的商业广告，您可随时通过相应产品退订功能取消。</p>
                <p>在不透露单个用户隐私资料的前提下，我们会对整个用户数据库进行分析并对用户数据库进行商业上的利用。我们会始终致力于在充分保护您个人信息的前提下，为您提供更优质的体验和服务。</p>
                <p>（三）其他用途</p>
                <p>您的个人信息还可能被用于以下用途：</p>
                <p>• 改进我们的产品和提升您在我们网站、微信公众号、微信小程序、门店的用户体验；</p>
                <p>• 评估网站、微信公众号、微信小程序、产品以及服务的使用；</p>
                <p>• 分析我们的广告、竞赛以及促销的有效性；</p>
                <p>• 使网站、微信公众号、微信小程序、门店的使用更轻松并且更好地设计研发产品或服务，以满足您的兴趣和需求；</p>
                <p>• 建议我们认为您可能感兴趣的产品或服务（包括相关第三方的产品或服务）；</p>
                <p>• 向您提供参加竞赛或促销的机会；</p>
                <p>• 向您发送您所要求的信息、产品或样品；</p>
                <p>• 回复您的询问或评论。</p>
                <p>（四）征得授权同意的例外</p>
                <p>根据相关法律法规规定，以下情形中收集您的个人信息无需征得您的授权同意：</p>
                <p>1. 与国家安全、国防安全有关的；</p>
                <p>2. 与公共安全、公共卫生、重大公共利益有关的；</p>
                <p>3. 与犯罪侦查、起诉、审判和判决执行等有关的；</p>
                <p>4. 出于维护个人信息主体或其他个人的生命、财产等重大合法权益但又很难得到您本人同意的；</p>
                <p>5. 所收集的个人信息是您自行向社会公众公开的；</p>
                <p>6. 从合法公开披露的信息中收集个人信息的，如合法的新闻报道、政府信息公开等渠道；</p>
                <p>7. 根据您的要求签订合同所必需的；</p>
                <p>8. 用于维护所提供的产品或服务的安全稳定运行所必需的，例如发现、处置产品或服务的故障；</p>
                <p>9. 为合法的新闻报道所必需的；</p>
                <p>10. 学术研究机构基于公共利益开展统计或学术研究所必要，且对外提供学术研究或描述的结果时，对结果中所包含的个人信息进行去标识化处理的；</p>
                <p>11. 法律法规规定的其他情形。</p>
                <p>如我们停止运营我们的网站或服务，我们将及时停止继续收集您个人信息的活动，将停止运营的通知以逐一送达或公告的形式通知您，对所持有的个人信息进行删除或匿名化处理。</p>
                <p class="divider">二、 我们如何使用 Cookie 和同类技术</p>
                <p>（一）Cookie </p>
                <p>我们的网站或网上商城使用Cookie，以便您能登录我们的服务，并允许设定您特定的服务选项。运用Cookie技术，网站或网上商城能够为您提供更加周到的个性化服务。您可以选择接受或拒绝Cookie。您可以通过修改浏览器设置的方式拒绝Cookie。如果您选择拒绝Cookie，则您可能无法登录或使用依赖于Cookie的我们的网站或网上商城服务或功能。</p>
                <p>（二）Cookie同类技术</p>
                <p>保有您的使用记录当您使用我们官方网站或网上商城提供的服务时，服务器会自动记录一些信息，包括URL、IP地址、浏览器的类型和使用的语言以及访问日期和时间等。</p>
                <p class="divider">三、 我们如何共享、转让、公开披露您的个人信息</p>
                <p>除本政策披露的情况外我们不会主动共享或转让您的个人信息至第三方，如存在其他共享或转让您的个人信息情形时，我们会征得您的明示同意。</p>
                <p>随着我们业务的持续发展，我们有可能进行合并、收购、资产转让等交易，我们将告知您相关情形，按照法律法规及不低于本政策所要求的标准继续保护或要求新的控制者继续保护您的个人信息。</p>
                <p>（一）共享 </p>
                <p>我们不会与本公司以外的任何公司、组织和个人分享您的个人信息，但以下情况除外： </p>
                <p>1. 在获取明确同意的情况下共享：获得您的明确同意后，我们会与其他第三方共享您的个人信息。</p>
                <p>2. 我们可能会根据法律法规规定，或按政府主管部门的强制性要求，对外共享您的个人信息。</p>
                <p>3. 与我们的关联公司共享：您的个人信息可能会与资生堂的关联公司共享。我们只会共享必要的个人信息，且受本政策中所声明目的的约束。资生堂的关联公司如要改变个人信息的处理目的，将再次征求您的授权同意。</p>
                <p>4. 与服务供应商或合作伙伴共享：仅为实现本政策中声明的目的，我们聘用各类服务供应商或与合作伙伴进行合作。我们可能会与服务供应商或合作伙伴共享您的某些个人信息，以提供更好的客户服务和用户体验。我们仅会出于合法、正当、必要、特定、明确的目的共享您的个人信息，并且只会共享提供服务所必要的个人信息。</p>
                <p>（二）转让</p>
                <p>我们不会将您的个人信息转让给任何公司、组织和个人，但以下情况除外：</p>
                <p>1. 在获取明确同意的情况下转让：获得您的明确同意后，我们会向其他第三方转让您的个人信息；</p>
                <p>2. 在涉及合并、收购或破产清算时，如涉及到个人信息转让，我们会在要求新的持有您个人信息的公司、组织继续受本政策的约束，否则我们将要求该公司、组织重新向您征求授权同意。</p>
                <p>（三）公开披露</p>
                <p>我们仅会在以下情况下，公开披露您的个人信息：</p>
                <p>1. 获得您明确同意后； </p>
                <p>2. 基于法律的披露：在法律、法律程序、诉讼或政府主管部门强制性要求的情况下，我们可能会公开披露您的个人信息。</p>
                <p>3. 违反相关协议规则：如果我们确定您出现违反相关协议规则的情况，或为保护我们及我们关联公司用户或公众 的人身财产安全免遭侵害，我们可能依据法律法规或相关协议规则征得您同意的情况下披露关于您的个人信息，包括相关违规行为以及我们已对您采取的措施。</p>
                <p>（四）共享、转让、公开披露个人信息时事先征得授权同意的例外</p>
                <p>以下情形中，共享、转让、公开披露您的个人信息无需事先征得您的授权同意：</p>
                <p>1. 与国家安全、国防安全有关的；</p>
                <p>2. 与公共安全、公共卫生、重大公共利益有关的；</p>
                <p>3. 与犯罪侦查、起诉、审判和判决执行等有关的；</p>
                <p>4. 出于维护您或其他个人的生命、财产等重大合法权益但又很难得到本人同意的；</p>
                <p>5. 您自行向社会公众公开的个人信息；</p>
                <p>6. 从合法公开披露的信息中收集个人信息的，如合法的新闻报道、政府信息公开等渠道。</p>
                <p>根据法律规定，共享、转让经去标识化处理的个人信息，且确保数据接收方无法复原并重新识别个人信息主体的，不属于个人信息的对外共享、转让及公开披露行为，对此类数据的保存及处理将无需另行向您通知并征得您的同意。</p>
                <p class="divider">四、 我们如何保护您的个人信息</p>
                <p>我们已使用符合业界标准的安全防护措施保护您提供的个人信息，防止数据遭到未经授权访问、公开披露、使用、修改、损坏或丢失。我们会采取一切合理可行的措施，保护您的个人信息。</p>
                <p>我们会采取一切合理可行的措施，确保未收集无关的个人信息。我们只会在达成本政策所述目的所需的期限内保留您的个人信息，除非需要延长保留期或受到法律的允许。</p>
                <p>互联网并非绝对安全的环境，而且电子邮件、即时通讯等交流方式并未加密，我们强烈建议您不要通过此类方式发送个人信息。请使用复杂密码，协助我们保证您的账号安全。</p>
                <p>互联网环境并非绝对安全，我们将尽力确保或担保您发送给我们的任何信息的安全性。 </p>
                <p>在不幸发生个人信息安全事件后，我们将按照法律法规的要求，及时向您告知：安全事件的基本情况和可能的影响、我们已采取或将要采取的处置措施、您可自主防范和降低风险的建议、对您的补救措施等。我们将及时将事件相关情况以邮件、信函、电话、推送通知等方式告知您，难以逐一告知个人信息主体时，我们会采取合理、有效的方式发布公告。同时，我们还将按照监管部门要求，主动上报个人信息安全事件的处置情况。 </p>
                <p class="divider">五、 您的权利</p>
                <p>按照中国相关的法律、法规，我们保障您对自己的个人信息行使以下权利：</p>
                <p>（一）访问您的个人信息</p>
                <p>您有权访问您的个人信息，法律法规规定的例外情况除外。如果您想行使数据访问权，可以通过以下方式自行访问：</p>
                <p>账户信息——如果您希望访问或编辑您的账户中的个人资料信息和支付信息、更改您的密码、添加安全信息或关闭您的账户等，您可以通过登录账号执行此类操作。 </p>
                <p>（二）订单信息——您可以通过登录账号查阅或清除您的订单记录、交易记录等。更正您的个人信息 </p>
                <p>当您发现我们处理的关于您的个人信息有错误时，您可以登录网站、微信公众号或微信小程序，点击相应的功能按钮，进行数据的修改维护。我们将在30天内回复您的更正请求。</p>
                <p>（三）删除您的个人信息</p>
                <p>在以下情形中，您可以向我们提出删除个人信息的请求：</p>
                <p>1. 如果我们处理个人信息的行为违反法律法规；</p>
                <p>2. 如果我们收集、使用您的个人信息，却未征得您的同意；</p>
                <p>3. 如果我们处理个人信息的行为违反了与您的约定；</p>
                <p>4. 如果您不再使用我们的产品或服务，或您注销了账号；</p>
                <p>5. 如果我们不再为您提供产品或服务。</p>
                <p>若我们决定响应您的删除请求，我们还将同时通知从我们获得您的个人信息的实体，要求其及时删除，除非法律法规另有规定，或这些实体获得您的独立授权。</p>
                <p>当您从我们的服务中删除信息后，我们可能不会立即备份系统中删除相应的信息，但会在备份更新时删除这些信息。 </p>
                <p>根据《网络安全法》的要求，在删除您的个人信息以后，与您相关的监测、记录网络运行状态、网络安全事件日志仍将留存不少于六个月。</p>
                <p>（四）个人信息主体注销账户</p>
                <p>您随时可注销此前注册的账户，在注销账户之后，我们将停止为您提供产品或服务，并依据您的要求，删除您的个人信息，法律法规另有规定的除外。</p>
                <p>若要注销您的账号、支付功能，您可登录网站、微信公众号或微信小程序后，点击相应的注销功能按钮，进行个人账号的注销功能，当您注销账号后，我们将删除或匿名化处理您的个人信息。根据《网络安全法》的要求，在注销账户以后，与您相关的监测、记录网络运行状态、网络安全事件日志仍将留存不少于六个月。</p>
                <p>（五）响应您的上述请求</p>
                <p>为保障安全，您可能需要提供书面请求，或以其他方式证明您的身份。我们可能会先要求您验证自己的身份，然后再处理您的请求。 我们将在30天内做出答复。</p>
                <p>对于您合理的请求，我们原则上不收取费用，但对多次重复、超出合理限度的请求，我们将视情收取一定成本费用。对于那些无端重复、需要过多技术手段（例如，需要开发新系统或从根本上改变现行惯例）、给他人合法权益带来风险或者非常不切实际（例如，涉及备份磁带上存放的信息）的请求，我们可能会予以拒绝。</p>
                <p>在以下情形中，按照法律法规要求，我们将无法响应您的请求：</p>
                <p>1. 与国家安全、国防安全直接相关的；</p>
                <p>2. 与公共安全、公共卫生、重大公共利益直接相关的；</p>
                <p>3. 与犯罪侦查、起诉、审判和判决执行等直接相关的；</p>
                <p>4. 有充分证据表明您存在主观恶意或滥用权利的；</p>
                <p>5. 响应您的请求将导致您或其他个人、组织的合法权益受到严重损害的。</p>
                <p>5. 涉及商业秘密的。</p>
                <p class="divider">六、 我们如何处理未成年人的个人信息 </p>
                <p>如您为未成年，我们建议您请您的父母或监护人仔细阅读本政策。在征得他们同意的前提下，您可使用我们的服务或向我们提供信息。如果没有父母或监护人的同意，未成年人不得创建自己的用户账户。</p>
                <p>如果我们发现在未事先获得可证实的父母或法定监护人同意的情况下，我们收集了未成年人的信息，我们将删除该等信息。</p>
                <p>我们的产品、网站和服务主要面向成人。如果没有父母或监护人的同意，不满 14 周岁的儿童不得创建自己的用户账户。对于经父母同意而收集儿童个人信息的情况，我们只会在受到法律允许、父母或监护人明确同意或者保护儿童所必要的情况下使用或公开披露此信息。</p>
                <p>若您是未成年人的监护人，当您对您所监护的未成年人的个人信息有相关疑问时，请通过本政策内的联系方式与我们联系。</p>
                <p class="divider">七、 您的个人信息如何存储及在全球范围转移</p>
                <p>我们在中华人民共和国境内收集和产生的个人信息，将存储在中国境内。为了更好地提供服务或优化服务质量，我们也会通过第三方机构分析、处理您的个人信息，在此过程中您的个人信息会被转移至中国境外进行分析、处理。我们会尽最大努力确保您的个人信息在此过程中的安全。</p>
                <p>接受本政策意味着您对我们将您的个人信息传输至中国境外及第三方机构做出了同意。</p>
                <p class="divider">八、 本政策如何更新</p>
                <p>我们可能会适时对本政策进行修订。当本政策的条款发生变更时，我们将在变更生效前，通过在页面显著位置提示、向您发送电子邮件等方式通知您。在该种情况下，若您继续使用我们的服务，即表示同意受经修订的政策约束。</p>
                <p class="divider">九、 如何联系我们</p>
                <p>如果您对本政策有任何疑问、意见或建议，通过以下方式与我们联系：</p>
                <p>电话：4008201010</p>
                <p>一般情况下，我们将在30天内回复。</p>
            </div>
        </div>
    </div>
</div>